@model List<Folder>

<h1>Directory Structure</h1>

<ul>
    @foreach (var directory in Model)
    {
        <li>
            <a asp-action="Index" asp-route-parentId="@directory.Id">@directory.Name</a>
        </li>
    }
</ul>

